.contact-section {
	background-color: var(--primary);
	color: white;
	height: 100vh;
}

#contact-form {
	margin: 0px auto;
	width: 60%;
}

.contact-form-item {
	margin-top: 20px !important;
}

.contact-form-input {
	width: 25%;
}
