/* Applies to all */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #7f1eda;
	--dark-primary: #6e1abc;
}

html {
	background-color: white;
	color: #555;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

section {
	padding: 60px;
}

/* Mobile */
/* @media screen and (max-width: 1440px) {
	.section-text {
		margin: 0;
		padding: 10px;
	}

	.container {
		border: solid var(--primary);
		margin: 20px 0;
	}

	#testimonials {
		margin: 0;
	}

	.quote,
	.cite {
		margin: 0;
	}

	.contact-container {
		margin: 20px 0;
	}
} */

@media screen and (max-width: 1024px) {
	header nav ul li a {
		margin: 0 10px 0 10px;
		font-size: 2.5vw;
		color: white;
		font-weight: 300;
	}

	header nav ul li span {
		margin: 0 10px 0 10px !important;
		font-size: 2.5vw !important;
		color: white !important;
		font-weight: 300 !important;
	}

	.section-text {
		margin: 80px !important;
		font-size: 80% !important;
	}

	.btn {
		width: 20% !important;
	}
}

@media screen and (max-width: 768px) {
	header nav ul li a {
		margin: 0 5px 0 5px;
		font-size: 2.5vw;
		color: white;
		font-weight: 300;
	}

	header nav ul li span {
		margin: 0 5px 0 5px !important;
		font-size: 2.5vw !important;
		color: white !important;
		font-weight: 300 !important;
	}

	.cover-text-box h1 {
		font-size: 180% !important;
	}

	.image-container {
		top: 10px !important;
		left: 10px !important;
		position: absolute !important;
		font-size: 65% !important;
	}

	.contact-form-input {
		width: 50% !important;
	}

	.btn {
		width: 27% !important;
	}
}

/* Media screen formatting */
@media screen and (max-width: 425px) {
	header nav ul li a {
		font-size: 5vw;
		font-weight: 300;
		margin: 0;
		color: white;
		padding: 0;
	}

	header nav ul li span {
		font-size: 5vw !important;
		font-weight: 300 !important;
		margin: 0 !important;
		color: white !important;
		padding: 0 !important;
	}

	.cover-text-box h1 {
		font-size: 150% !important;
	}

	.cover-text-box {
		width: 100% !important;
	}

	.section-text {
		margin: 0px !important;
	}

	.flex-display {
		display: block !important;
	}

	.project-img {
		width: 90vw !important;
	}

	#contact-form {
		width: 100vw !important;
	}

	.resume-container {
		width: 100vw !important;
	}
}

@media screen and (max-width: 375px) {
}
